{% extends 'store/layout.html' %}
{% load static %}
{% load store_tags %}
{% block title %}Favorites{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'store/css/CategoriesCartCheckout.css' %}">
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'main' %}">&#x2190; Continue Shopping</a>

				<br>

			</div>

			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Add</strong></div>
					<div style="flex:1"><strong>Delete</strong></div>
				</div>
				{%for product in favorite.products.all%}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{product.photo.url}}"></div>
					<div style="flex:2"><p>{{product.name}}</p></div>
					<div style="flex:1"><p>${{product.price}}</p></div>
					<div style="flex:1">
                        <a href = "{{product.get_add_url}}" class="btn btn-outline-success add-btn">Add to Cart</a>
					</div>
					<div style="flex:1">
                        <a href = "{{product.get_delete_favorite}}" class="btn btn-outline-danger add-btn">Delete</a>
                    </div>
				</div>
				{%endfor%}

			</div>
		</div>
	</div>
{% endblock %}