{% extends 'store/layout.html' %}
{%load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'store/css/RegisterLogin.css' %}">
<h1 align = "center" class = 'title'>{{title}}</h1>

<form method="post" class='login-form' >
    {% csrf_token %}

<div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
        <div class="flex-row">
        <p align = "center" class = 'log-input'>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        </div>
{% endfor %}

    <input class='lf--submit' type='submit' value='LOGIN'>

</form>
<div style='text-align:center;'><a class='href' href="{%url 'register'%}">Create your account</a></div>
{% endblock %}
