{% extends 'store/baselogin.html' %}
{%load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'store/css/RegisterLogin.css' %}">
<h1 align = "center" class = 'title'>{{title}}</h1>

<form method="post"  class='login-form'>
    {% csrf_token %}

{% for f in form %}
    <div class="flex-row">
        <p align = "center" class = 'log-input'>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
    </div>
{% endfor %}

    <input style="width: 400px; border-radius: 10px;" class='lf--submit' type='submit' value='REGISTER'>
</form>
<div style='text-align:center;'><a class='href' href="{%url 'login'%}">Already have an account? Log in</a></div>

{% endblock %}